* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

/* header */

header {
  display: flex;
  background-color: white;
  color: black;
  width: 100%;
}

nav {
  width: 100px;
}

.hamburger-icon {
  width: 100%;
  padding: 20%;
}

h1 {
  margin: 20px auto;
  width: 100%;
  text-align: center;
}

/* MAIN */

main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
  height: 700px;
  padding: 10px;
}

/* main intro section player input */

.main-introsection-player-input {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.introsection-form-parentdiv {
display: flex;
justify-content: space-between;
width: 100%;
margin-bottom: 75px;
}

.introsection-player-form {
  width: 45%;
}

.introform-player-input {
  width: 100%;
  font-size: 125%;
  padding: 10px;
  margin-bottom: 5px;
  border: 0;
  outline: 0;
}

.playgame-button {
width: 100%;
background-color: black;
color: white;
padding: 15px;
font-size: 115%;
border: 0;
outline: 0;
margin-top: 60px;
}

/* main intro instructions */

.main-instruction-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.instruction-section-header {
  text-align: center;
  width: 80%;
  margin-bottom: 35px;
  font-size: 175%;
}

.instruction-section-paragraph {
  margin: 20px 0;
  font-size: 150%;
  width: 100%;
}
