* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

/* header */

header {
  background-color: white;
  color: black;
  display: flex;
  width: 100%;
  z-index: -2;
}

nav {
  z-index: 100;
}

.hamburger-icon {
  height: 80px;
  margin: -6px;
}

.hamburger-icon:hover {
cursor: pointer;
}

h1 {
  position: absolute;
  padding: 10px;
  text-align: center;
  width: 100%;
  z-index: 1;
}

/* MAIN */

main {
  align-items: center;
  background-image: url(images/BG2.png);
  background-size: 100%;
  background-position: center;
  display: flex;
  height: 725px;
  justify-content: center;
  padding: 10px;
}

/* main intro section player input */

.main-introsection-player-input {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.introsection-form-parentdiv {
display: flex;
justify-content: space-between;
margin-bottom: 75px;
width: 100%;
}

.introsection-player-form {
  width: 45%;
}


.introform-player-input {
  border: 0;
  font-size: 125%;
  margin-bottom: 5px;
  outline: 0;
  padding: 10px;
  width: 100%;
}

.error-state {
  border: 3px solid red;
}

.introform-no-input-error {
  background-color: lightgrey;
  border: 3px solid red;
  color: red;
  margin: auto;
  text-align: center;
  width: 40%;
}

.playgame-button {
  background-color: black;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 115%;
  margin-top: 60px;
  outline: 0;
  padding: 15px;
  width: 100%;
}

.playgame-button:hover {
  background-color: #505C6B;
  cursor: pointer;
}

.playgame-button:active {
  background-color: #505C6B;
  box-shadow: 6px 9px #023C87;
  transform: translateY(5px);
}

/* main intro instructions */

.main-instruction-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.instruction-section-header {
  font-size: 175%;
  margin: 40px 0;
  text-align: center;
  width: 85%;
}

.instruction-paragraph-background {
  background-color: #D1DCE9;
  opacity: .9;
  padding: 10px;
}

.instruction-section-paragraph {
  font-size: 125%;
  margin: 20px 0;
  width: 100%;
}

/* main gameplay state */

.main-gameplay-parentsection {
  display: flex;
  height: 97%;
  margin-top: 30px;
  width: 97%;
}

/* ASIDES */

.gameplay-player-info-section {
  align-items: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  font-size: 150%;
  width: 20%;
}

.player-info-text {
  margin: 10px 0;
}

.player-turn-indicator {
  background-color: #B1C3DA;
  border: 2px solid #4872A8;
  color: black;
}

.player-info-name {
  background-color: black;
  border-bottom: 1px solid white;
  color: white;
  margin: 10px 0;
  text-align: center;
  width: 90%;
}

.player-info-matches {
  background-color: black;
  border-bottom: 1px solid white;
  color: white;
  margin: 10px 0;
  text-align: center;
  width: 90%;
}

.player-info-matches-text {
  margin: 10px auto;
  width: 60%;
}

.player-info-matches-num {
  font-size: 400%;
  font-weight: 700;
}

.player-info-games-won {
  background-color: black;
  color: white;
  margin: 10px 0;
  overflow: auto;
  text-align: center;
  width: 90%;
}

/* CARD SECTION */

.gameplay-card-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.gameplay-card-div {
  align-items: center;
  display: flex;
  height: 33%;
  justify-content: space-around;
  width: 90%;
}

.gameplay-card {
  align-items: center;
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
  display: flex;
  font-size: 400%;
  font-weight: 700;
  justify-content: center;
  height: 160px;
  transition: transform .5s;
  transform-style: preserve-3d;
  width: 120px;
}

.hidden {
  visibility: hidden;
}

.position1 {
  transform: rotate(-20deg);
}

.position2 {
  transform: rotate(20deg);
}

.position3 {
  transform: rotate(15deg);
}

.position4 {
  transform: rotate(15deg);
}

.position5 {
  margin-bottom: -80px;
  transform: rotate(-20deg);
}

.position6 {
  transform: rotate(-5deg);
}

.position7 {
  transform: rotate(20deg);
}

.position8 {
  transform: rotate(-10deg);
}

.position9 {
  transform: rotate(20deg);
}

.position10 {
  transform: rotate(-10deg);
}

.photo1 {
  background-image: url('images/CNP.jpg');
  background-position: center;
  background-size: cover;
  transform: rotateY(180deg);
}

.photo2 {
  background-image: url('images/GSMNP.jpg');
  background-position: center;
  background-size: cover;
  transform: rotateY(180deg);
}

.photo3 {
  background-image: url('images/LVNP.jpg');
  background-position: center;
  background-size: cover;
  transform: rotateY(180deg);
}

.photo4 {
  background-image: url('images/RMNP.jpg');
  background-position: center;
  background-size: cover;
  transform: rotateY(180deg);
}

.photo5 {
  background-image: url('images/ZNP.jpg');
  background-position: center;
  background-size: cover;
  transform: rotateY(180deg);
}

.photo6 {
  background-image: url('images/JKW.jpg');
  background-position: center;
  background-size: cover;
  transform: rotateY(180deg);
}

.photo7 {
  background-image: url('images/alaska.jpg');
  background-position: center;
  background-size: cover;
  transform: rotateY(180deg);
}

.photo8 {
  background-image: url('images/neskowin.jpg');
  background-position: center;
  background-size: cover;
  transform: rotateY(180deg);
}

.photo9 {
  background-image: url('images/arches.jpg');
  background-position: center;
  background-size: cover;
  transform: rotateY(180deg);
}

.photo10 {
  background-image: url('images/reflection.jpeg');
  background-position: center;
  background-size: cover;
  transform: rotateY(180deg);
}

/* WINNER CARD */

.winner-card-div {
  align-items: center;
  background-color: #A0B8D5;
  border: 5px solid #4171AB;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 80%;
}

.winner-card-h2 {
  border-bottom: 5px solid #4171AB;
  font-size: 250%;
  padding: 10px;
  text-align: center;
  width: 90%;
}

.winner-card-h4 {
  border-bottom: 5px solid #4171AB;
  font-size: 150%;
  margin: 15px;
  padding-bottom: 5px;
  text-align: center;
  width: 90%;
}

.end-of-game-option-div {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.play-again-button {
  background-color: black;
  border: 0;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 115%;
  outline: 0;
  padding: 15px;
  width: 30%;
}

.play-again-button:hover {
  background-color: #505C6B;
  cursor: pointer;
}

.play-again-button:active {
  background-color: #505C6B;
  box-shadow: 6px 9px #023C87;
  transform: translateY(5px);
}

/* WINNER SCOREBOARD */

.winner-scoreboard-section {
  align-items: center;
  background-color: #203754;
  color: white;
  display: flex;
  flex-direction: column;
  height: 500px;
  left: 0;
  opacity: .9;
  position: absolute;
  top: 74px;
  width: 250px;
}

.winner-scoreboard-div {
  border-bottom: 1px solid white;
  height: 20%;
  margin: 10px;
  text-align: center;
  width: 90%;
}

.winner-scoreboard-div-bottom {
  height: 20%;
  text-align: center;
  width: 90%;
}

/* WINNER HISTORY */

.player-history-div {
  border-bottom: 1px solid white;
  font-size: 75%;
  margin: auto;
  padding: 10px;
  width: 95%;
}
