* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

/* header */

header {
  display: flex;
  background-color: white;
  color: black;
  width: 100%;
}

.hamburger-icon {
  height: 80px;
  margin: -6px;
}

h1 {
  margin: 10px 30%;
  padding: 5px;
  width: 100%;
  text-align: center;
}

/* MAIN */

main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(images/BG2.png);
  background-size: 100%;
  background-position: center;
  height: 700px;
  padding: 10px;
}

/* main intro section player input */

.main-introsection-player-input {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.introsection-form-parentdiv {
display: flex;
justify-content: space-between;
width: 100%;
margin-bottom: 75px;
}

.introsection-player-form {
  width: 45%;
}

.error-state {
  border: 2px solid red;
}

.introform-player-input {
  width: 100%;
  font-size: 125%;
  padding: 10px;
  margin-bottom: 5px;
  border: 0;
  outline: 0;
}

.error-state {
  border: 2px solid red;
}

.introform-no-input-error {
  border: 2px solid red;
  color: red;
  background-color: lightgrey;
  text-align: center;
  width: 40%;
  margin: auto;
}

.playgame-button {
  width: 100%;
  background-color: black;
  color: white;
  padding: 15px;
  font-size: 115%;
  border: 0;
  outline: 0;
  margin-top: 60px;
  cursor: pointer;
}

.playgame-button:hover {
  background-color: #505C6B;
  cursor: pointer;
}

/* main intro instructions */

.main-instruction-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.instruction-section-header {
  text-align: center;
  width: 85%;
  margin: 40px 0;
  font-size: 175%;
}

.instruction-paragraph-background {
  background-color: #D1DCE9;
  opacity: .9;
  padding: 10px;
}

.instruction-section-paragraph {
  margin: 20px 0;
  font-size: 125%;
  width: 100%;
}

/* main gameplay state */

.main-gameplay-parentsection {
  margin-top: 30px;
  width: 97%;
  display: flex;
  height: 97%;
}

/* ASIDES */

.gameplay-player-info-section {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  font-size: 150%
}

.player-info-text {
  margin: 10px 0;
}

.player-turn-indicator {
  background-color: #B1C3DA;
  border: 2px solid #4872A8;
  color: black;
}

.player-info-name {
  width: 90%;
  background-color: black;
  color: white;
  text-align: center;
  border-bottom: 1px solid white;
  margin: 10px 0;
}

.player-info-matches {
  width: 90%;
  background-color: black;
  color: white;
  text-align: center;
  border-bottom: 1px solid white;
  margin: 10px 0;
}

.player-info-matches-text {
  width: 60%;
  margin: 10px auto;
}

.player-info-matches-num {
  font-size: 400%;
  font-weight: 700;
}

.player-info-games-won {
  width: 90%;
  background-color: black;
  color: white;
  text-align: center;
  margin: 10px 0;
}

/* CARD SECTION */

.gameplay-card-section {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameplay-card-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 33%;
  width: 90%;
}

.gameplay-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  width: 120px;
  font-size: 400%;
  font-weight: 700;
  border: 2px solid black;
  background-color: white;
  transition: transform .5s;
  transform-style: preserve-3d;

}

.hidden {
  visibility: hidden;
}

.position1 {
  transform: rotate(-20deg);
}

.position2 {
  transform: rotate(20deg);
}

.position3 {
  transform: rotate(15deg);
}

.position4 {
  transform: rotate(15deg);
}

.position5 {
  transform: rotate(-20deg);
  margin-bottom: -80px;
}

.position6 {
  transform: rotate(-5deg);
}

.position7 {
  transform: rotate(20deg);
}

.position8 {
  transform: rotate(-10deg);
}

.position9 {
  transform: rotate(20deg);
}

.position10 {
  transform: rotate(-10deg);
}

.photo1 {
  background-image: url('images/CNP.jpg');
  background-position: center;
  background-size: cover;
  transform: rotateY(180deg);
}

.photo2 {
  background-image: url('images/GSMNP.jpg');
  background-position: center;
  background-size: cover;
  transform: rotateY(180deg);
}

.photo3 {
  background-image: url('images/LVNP.jpg');
  background-position: center;
  background-size: cover;
  transform: rotateY(180deg);
}

.photo4 {
  background-image: url('images/RMNP.jpg');
  background-position: center;
  background-size: cover;
  transform: rotateY(180deg);
}

.photo5 {
  background-image: url('images/ZNP.jpg');
  background-position: center;
  background-size: cover;
  transform: rotateY(180deg);
}

/* WINNER CARD */

.winner-card-div {
  background-color: #A0B8D5;
  width: 80%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid #4171AB;
}

.winner-card-h2 {
  text-align: center;
  padding: 10px;
  font-size: 250%;
  width: 90%;
  border-bottom: 5px solid #4171AB;
}

.winner-card-h4 {
  text-align: center;
  padding-bottom: 10px;
  font-size: 150%;
  margin: 20px;
  width: 90%;
  border-bottom: 5px solid #4171AB;
}

.play-again-button {
  width: 50%;
  background-color: black;
  color: white;
  padding: 15px;
  font-size: 115%;
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 5px;
}

.play-again-button:hover {
  background-color: #505C6B;
  cursor: pointer;
}

/* WINNER SCOREBOARD */

.winner-scoreboard-section {
display: flex;
flex-direction: column;
align-items: center;
position: absolute;
top: 74px;
left: 0;
height: 500px;
width: 250px;
background-color: #203754;
opacity: .9;
color: white;
}

.winner-scoreboard-div {
  text-align: center;
  border-bottom: 1px solid white;
  width: 90%;
  height: 20%;
  margin: 10px;
}

.winner-scoreboard-div-bottom {
  text-align: center;
  width: 90%;
  height: 20%;
}
